html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cd-container {
  width: 90%;
  max-width: 768px;
  margin: 2em auto;
}

.cd-container::after {
  content: "";
  display: table;
  clear: both;
}

.cd-top {
  color: var(--highlight-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  font-size: 16px;
  position: fixed;
  bottom: 24px;
  right: 12px;
  overflow: hidden;
  border: none;
  border-radius: 50%;
  background-color: var(--primary-color);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 3;
}

.cd-top a {
  color: var(--highlight-color);
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-fade-out {
  opacity: 0.9;
}

.no-touch .cd-top:hover {
  background-color: var(--black);
  opacity: 1;
}

@media only screen and (min-width: 991px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
